<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.dao.RoleResourceDao">
    <!-- RoleResource的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_RoleResource_Map" type="com.alibaba.entity.RoleResource">
        <id column="id" property="id" />
        <result column="rolename" property="rolename" />
        <result column="resid" property="resid" />
    </resultMap>

    <!-- 数据库中表名为:shiro_role_resource的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="shiro_role_resource_Column">
        shiro_role_resource.id as id
        ,shiro_role_resource.rolename as rolename
        ,shiro_role_resource.resid as resid
    </sql>

    <!--获得类名为:RoleResource对应的数据库表的数据总行数 -->
    <select id="getRoleResourceRowCount" resultType="java.lang.Long">
        select count(id) from shiro_role_resource
    </select>
    <!-- 获得类名为:RoleResource对应数据库中表的数据集合 -->
    <select id="selectRoleResource" resultMap="result_RoleResource_Map">
        select 
        <include refid="shiro_role_resource_Column" /> 
        from shiro_role_resource
    </select> 

    <!-- 获得一个RoleResource对象,以参数RoleResource对象中不为空的属性作为条件进行查询-->
    <select id="selectRoleResourceByObj" parameterType="com.alibaba.entity.RoleResource" resultMap="result_RoleResource_Map">
        select 
            <include refid="shiro_role_resource_Column" /> 
        from shiro_role_resource
        <where>
            <if test="resid != null "> and shiro_role_resource.resid = #{resid}</if>
            <if test="rolename != null "> and shiro_role_resource.rolename = #{rolename}</if>
            <if test="id != null "> and shiro_role_resource.id = #{id}</if>
        </where>
    </select> 

    <!-- 通过RoleResource的id获得对应数据库中表的数据对象-->
    <select id="selectRoleResourceById" parameterType="java.lang.Integer" resultMap="result_RoleResource_Map">
        select 
            <include refid="shiro_role_resource_Column" /> 
        from shiro_role_resource
        where shiro_role_resource.id = #{id}
    </select>

    <select id="selectResIdByRoleName" resultType="Integer">
        select resid
        from shiro_role_resource
        where rolename = #{roleName}
    </select>



    <!-- 将RoleResource插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertRoleResource" parameterType="com.alibaba.entity.RoleResource">
        insert into shiro_role_resource(id,rolename,resid) 
        values(#{id},#{rolename},#{resid})
    </insert>

    <!-- 将RoleResource中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyRoleResource" parameterType="com.alibaba.entity.RoleResource">
        insert into shiro_role_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="rolename != null">rolename,</if>
            <if test="resid != null">resid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="rolename != null"> #{rolename},</if>
            <if test="resid != null"> #{resid},</if>
        </trim>
    </insert>

    <!-- 通过RoleResource的id将数据库表中对应的数据删除-->
    <delete id="deleteRoleResourceById" parameterType="java.lang.Integer">
        delete from shiro_role_resource
        where id = #{id}
    </delete>

    <!-- 通过RoleResource的id将RoleResource的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateRoleResourceById" parameterType="com.alibaba.entity.RoleResource">
        update shiro_role_resource set
            rolename=#{rolename}
            ,resid=#{resid}
        where id=#{id}
    </update>

    <!-- 通过RoleResource的id将RoleResource中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyRoleResourceById" parameterType="com.alibaba.entity.RoleResource">
        update shiro_role_resource
        <set>
            <if test="rolename != null">
                rolename=#{rolename},
            </if>
            <if test="resid != null">
                resid=#{resid},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>